.loadingSpinner {
  border: 2px solid #f3f3f3;
  border-top: 2px solid rgb(44, 113, 240);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 0.4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
